.bloglist {
  margin-bottom: 10px;
  box-shadow: 3px 3px 10px 5px lightgray;
}
.addBlog {
  margin: 15px;
  width: 50vw;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-top: 10px;
}

.togglable {
  margin: 15px;
}

.inputLabel {
  width: 70px;
  background-color: whitesmoke;
  border-radius: 5px;
}

.button {
  margin-top: 10px;
}
#body {
  margin: 0px,
}

#root {
  margin: 0px
}